<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="canonical" href="http://jotalea.com.ar/tarea" />
    <meta name="description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="TaskHub" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jotalea.com.ar/tarea" />
    <meta property="og:description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta property="og:image" content="https://taskhub.jotaleaex.repl.co/assets/logo.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body onload="toggleModoOscuro()">
    <header style="position: relative;">
        <img src="/assets/logo.png" alt="Logo" style="position: absolute; top: 20px; left: 15px; width: 120px; height: 40px;">
            <div style="text-align: right">
                <button onclick="location.href='/'" class="button-blue" style="margin-bottom: 2px; text-align: right">Inicio</button>
                <button onclick="location.href='https://taskhub-jotaleaex-repl-co.translate.goog/?_x_tr_sl=es&_x_tr_tl=en&_x_tr_hl=en'" class="button-blue" style="margin-bottom: 2px; text-align: right">English version</button>
            </div>
    </header>

    <div id="cookie-banner">
        Esta página usa cookies. <button onclick="aceptarCookies()">Acepto</button>
    </div>
  
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <h1 id="upload">Publicar Respuestas de Tareas</h1>

    <div class="container">
        <form method="POST" action="/" enctype="multipart/form-data">
            <label for="materia">Materia:</label>
            <select name="materia" id="materia">
                <option value="Matemática">Matemática</option>
                <option value="Música">Música</option>
                <option value="Biología">Biología</option>
                <option value="Prácticas del lenguaje">Prácticas del lenguaje</option>
                <option value="Inglés">Inglés</option>
                <option value="Ciudadanía">Ciudadanía</option>
                <option value="Educación Física">Educación Física</option>
                <option value="Fisico-Química">Fisico-Química</option>
                <option value="Geografía">Geografía</option>
                <option value="Historia">Historia</option>
            </select>
            <br>
            <label for="respuesta">Respuesta:</label>
            <textarea name="respuesta" id="respuesta" rows="4" cols="50" required></textarea>

            <label for="username">Nombre de Usuario:</label>
            <textarea name="username" id="username" rows="1" cols="50" required></textarea>

            <label for="imagen">Seleccionar imagen:</label>
            <input type="file" name="file" accept="image/*">
            <br>

            <button class="button-blue" type="submit">Publicar</button>
        </form>
    </div>

    <div class="container" id="posts">
        <h2>Tareas Publicadas (las mas recientes arriba) <a href="/#posts" onclick="location.reload()">⟳</a></h2>
        <ul>
            {% for tarea in tareas_nuevas %}
            <li>
                <p>
                    <a href="{{ url_for('tarea_detalle', id_tarea=tarea[0]) }}">
                        {{ tarea[4] }} - {{ tarea[1] }} - {{ tarea[3] }}
                    </a>
                </p>
            </li>
            <p></p>
            {% endfor %}
        </ul>
    </div>

    <div class="container" style="color: #ffffff">
        <h2>
            {% if tareas_nuevas %}
            ¡{{ tareas_nuevas[0][0] }} tareas publicadas en total!
            {% else %}
            No hay tareas publicadas.
            {% endif %}
        </h2>
    </div>

    <div class="container" id="danger">
        <h2><a href="/api/reset">Reset Database</a></h2>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Simula el tiempo de carga (puedes eliminar esto en un entorno real)
            setTimeout(function () {
                const loaderContainer = document.querySelector(".loader-container");
                loaderContainer.classList.add("hidden");
            }, 2000); // Tiempo de carga simulado: 2 segundos
        });
    </script>
    <script>
        // Function to accept cookies and hide the banner
        function aceptarCookies() {
            document.getElementById('cookie-banner').style.display = 'none';
            // Save a cookie indicating that the user accepted cookies
            document.cookie = "cookiesAceptadas=true; expires=Thu, 31 Dec 2030 23:59:59 UTC; path=/";
        }

        // Check if the user has already accepted cookies
        function verificarCookiesAceptadas() {
            const cookies = document.cookie.split("; ");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].split("=");
                if (cookie[0] === "cookiesAceptadas" && cookie[1] === "true") {
                    // User already accepted cookies, hide the banner
                    document.getElementById('cookie-banner').style.display = 'none';
                    break;
                }
            }
        }

        // Check cookies on page load
        verificarCookiesAceptadas();
    </script>

    <script>
        // Assume this is the function executed on page load
        function cargarPagina() {
            // Check if there is a username saved in the cookie
            const nombreUsuario = obtenerNombreUsuario();
            if (nombreUsuario) {
                // Autofill the form
                document.getElementById('username').value = nombreUsuario;
            }
        }

        // Function to save the username in the cookie
        function guardarNombreUsuario(nombreUsuario) {
            document.cookie = `nombreUsuario=${nombreUsuario}; expires=Thu, 31 Dec 2030 23:59:59 UTC; path=/`;
        }

        // Function to get the username from the cookie
        function obtenerNombreUsuario() {
            const cookies = document.cookie.split("; ");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].split("=");
                if (cookie[0] === "nombreUsuario") {
                    return cookie[1];
                }
            }
            return null;
        }
    </script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                // Get the content of the textarea
                var respuesta = $('#respuesta').val();

                // Replace line breaks with <br>
                respuesta = respuesta.replace(/\n/g, '<br>');

                // Set the new content to the textarea
                $('#respuesta').val(respuesta);

                // Continue with form submission
                return true;
            });
        });
    </script>
    <br><br>
</body>
</html>
