<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="canonical" href="http://jotalea.com.ar/tarea" />
    <meta name="description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="TaskHub" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jotalea.com.ar/tarea" />
    <meta property="og:description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta property="og:image" content="https://taskhub.jotaleaex.repl.co/assets/logo.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name=keywords content="taskhub, respuestas, respuestas de tarea, tarea, chatgpt, IA tareas, inteligencia artificial tareas, resuelve tareas, programación, desarrollo, codigo, escuela, educación, colegio, deberes, estudio"/>
    <link rel=alternate href="https://taskhub.jotaleaex.repl.co/" hreflang=x-default />
    <link rel=alternate href="https://taskhub-jotaleaex-repl-co.translate.goog/?_x_tr_sl=es&_x_tr_tl=en&_x_tr_hl=en" hreflang=en />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body style="overflow: hidden">
    <header style="position: relative;">
        <a href="/">
            <img src="/assets/logo.png" alt="Logo" style="position: absolute; top: 20px; left: 15px; width: 120px; height: 40px;">
        </a>
            <div style="text-align: right">
                <button onclick="location.href='https://taskhub-jotaleaex-repl-co.translate.goog/?_x_tr_sl=es&_x_tr_tl=en&_x_tr_hl=en'" class="button-blue" style="margin-bottom: 2px; text-align: right">English version</button>
            </div>
    </header>

    <div id="cookie-banner">
        Esta página usa cookies. <button onclick="aceptarCookies()">Acepto</button>
    </div>
  
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <img src="https://yip.su/RNFWd1.png"></img>

    <h1 id="upload">Publicar Respuestas de Tareas</h1>

    <div class="container">
        <form method="POST" action="/api/upload" enctype="multipart/form-data">
            <label for="materia">Materia:</label>
            <select name="materia" id="materia">
                <option value="Matemática">Matemática</option>
                <option value="Música">Música</option>
                <option value="Biología">Biología</option>
                <option value="Prácticas del lenguaje">Prácticas del lenguaje</option>
                <option value="Inglés">Inglés</option>
                <option value="Ciudadanía">Ciudadanía</option>
                <option value="Educación Física">Educación Física</option>
                <option value="Fisico-Química">Fisico-Química</option>
                <option value="Geografía">Geografía</option>
                <option value="Historia">Historia</option>
            </select>
            <br>
            <label for="respuesta">Respuesta:</label>
            <textarea name="respuesta" id="respuesta" rows="4" cols="50" required></textarea>

            <label for="username">Nombre de Usuario y título:</label>
            <textarea name="username" id="username" rows="1" cols="50" required></textarea>

            <label for="imagen">Seleccionar imagen:</label>
            <input type="file" name="file" accept="image/*">
            <br>

            <button class="button-blue" type="submit">Publicar</button>
        </form>
        <!--
        <iframe src="https://taskhub.jotaleaex.repl.co/post" height="85%" width="85%" scrolling="yes" style="border:0px #ffffff none;"></iframe>
        -->
    </div>

    <div class="container" id="posts">
        <h2>Tareas Disponibles <a href="/#posts" onclick="location.reload()">⟳</a></h2>
        <ul>
            {% for tarea in tareas_nuevas %}
            <li>
                <p>
                    <a href="{{ url_for('tarea_detalle', id_tarea=tarea[0]) }}">
                        {{ tarea[4] }} - {{ tarea[1] }} - {{ tarea[3] }}
                    </a>
                </p>
            </li>
            <p></p>
            {% endfor %}
        </ul>
    </div>

    <div class="container" style="color: #ffffff">
        <h2>
            {% if tareas_nuevas %}
            ¡{{ tareas_nuevas[0][0] }} tareas publicadas en total!
            {% else %}
            No hay tareas publicadas.
            {% endif %}
        </h2>
    </div>

    <div class="container" id="danger">
        <h2><a href="/api/reset">Reset Database</a></h2>
    </div>
    <script src="/assets/script.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                // Get the content of the textarea
                var respuesta = $('#respuesta').val();

                // Replace line breaks with <br>
                respuesta = respuesta.replace(/\n/g, '<br>');

                // Set the new content to the textarea
                $('#respuesta').val(respuesta);

                // Continue with form submission
                return true;
            });
        });
    </script>
    <br><br>
</body>
</html>
