<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Tarea</title>
    <link rel="canonical" href="http://jotalea.com.ar/tarea" />
    <meta name="description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="TaskHub - Tarea" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jotalea.com.ar/tarea" />
    <meta property="og:description" content="Un lugar para publicar las respuestas de las tareas" />
    <meta property="og:image" content="/assets/logo.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <header style="position: relative;">
        <img src="/assets/logo.png" alt="Logo" style="position: absolute; top: 20px; left: 15px; width: 120px; height: 40px;">
            <div style="text-align: right">
                <button onclick="location.href='/'" class="button-blue" style="margin-bottom: 2px; text-align: right">Inicio</button>
                <button onclick="location.href='https://taskhub-jotaleaex-repl-co.translate.goog/?_x_tr_sl=es&_x_tr_tl=en&_x_tr_hl=en'" class="button-blue" style="margin-bottom: 2px; text-align: right">English version</button>
            </div>
    </header>

    <div id="cookie-banner">
        Esta página usa cookies. <button onclick="aceptarCookies()">Acepto</button>
    </div>
  
    <div class="container">
        <h1>{{ tarea[1] }} - {{ fecha_formateada }}<a href="/" style="float: right;">Volver</a></h1>
        <h2>Por {{ tarea[3] }}</h2>
        <div class="container" style="max-width: 95%; padding: 10px; background-color: #444444; text-align: center;">
          <div class="image-container"> {% if tarea[5] %} {% set image_filename = tarea[5].split('/')[-1] %} <img src="/imagenes/{{ tarea[5] }}" alt="Imagen de la tarea"> {% endif %} </div>
        </div>
        <div class="container" style="max-width: 95%; padding: 10px; background-color: #444444;">
            <p><br>{{ tarea[2] | safe }}</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <form method="POST" action="{{ url_for('borrar_tarea', id_tarea=tarea[0]) }}">
            <label for="contrasena">Contraseña para borrar:</label>
            <input type="password" name="contrasena" required>
            <button type="submit">Borrar Tarea</button>
        </form>
        <p class="right_p">{{ tarea[4] }} - {{ tarea[0] }}</p>
        <button onclick="copyToClipboard">Compartir</button>
    </div>
    <script>
        function copyToClipboard() {
            var dummyElement = document.createElement("textarea");
            document.body.appendChild(dummyElement);
            dummyElement.value = window.location.href;
            dummyElement.select();
            document.execCommand("copy");
            document.body.removeChild(dummyElement);
            alert("Link copied to clipboard!");
        }
    </script>
    <script>
        // Function to accept cookies and hide the banner
        function aceptarCookies() {
            document.getElementById('cookie-banner').style.display = 'none';
            // Save a cookie indicating that the user accepted cookies
            document.cookie = "cookiesAceptadas=true; expires=Thu, 31 Dec 2030 23:59:59 UTC; path=/";
        }

        // Check if the user has already accepted cookies
        function verificarCookiesAceptadas() {
            const cookies = document.cookie.split("; ");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].split("=");
                if (cookie[0] === "cookiesAceptadas" && cookie[1] === "true") {
                    // User already accepted cookies, hide the banner
                    document.getElementById('cookie-banner').style.display = 'none';
                    break;
                }
            }
        }

        // Check cookies on page load
        verificarCookiesAceptadas();
    </script>
    <br><br>
</body>
</html>
